<%= form_for @user, url: sessions_path,   :html => {class: "form_base"} do |form|  %>
    <h1>Login</h1>
    <div class="from_group">
        <%= form.label :email %>
        <%= form.email_field :email, class: "input_base" %>    
    </div>

    <div class="from_group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "input_base" %>    
    </div>
    
    <div class="from_group">
        <%= form.submit t("helpers.submit.login"), class: "button_base btn-login" %>   
    </div>
   
<% end %>