
<% if @user.errors.any? %>
    <p><%= t("title.error") %> </p>
    <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
        <% end %>
    </ul>

<% end %>


<%= form_for @user, url:"/users", :html => {class: "form_base"} do |form| %>
    <h1><%= t("title.signup") %></h1>
    <div class="from_group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "input_base" %>    
    </div>
    <div class="from_group">
        <%= form.label :email %>
        <%= form.email_field :email, class: "input_base" %>    
    </div>
    <div class="from_group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "input_base" %>    
    </div>
    <div class="from_group">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "input_base" %>    
    </div>

    <div class="from_group">
        <%= form.submit  "Cadastrar", class: "button_base btn-login" %>   
    </div>
   
<% end %>